<table border="1" style="border-collapse: collapse; text-align: left; margin: 0 auto 10mm auto; font-size: 12px; page-break-inside: avoid; table-layout: fixed;">
<tr>
<th style="padding: 0 5px 0 5px">Заводской номер:</th>
<th colspan="4" style="padding: 0 5px 0 5px">{number}</th>
</tr>
<tr>
<th style="padding: 0 5px 0 5px">Адрес устройства:</th>
<th colspan="4" style="padding: 0 5px 0 5px">{address}</th>
</tr>
<tr>
<th colspan="2" style="padding: 0 5px 0 5px">Назначение портов:</th>
<th colspan="3" style="padding: 0 5px 0 5px">Данные аутентификации в сети MQTT:</th>
</tr>
<tr>
<th style="padding: 0 5px 0 5px">Порт 1</th>
<th style="padding: 0 5px 0 5px">{port_1}</th>
<th style="padding: 0 5px 0 5px">Пароль</th>
<th colspan="2" style="padding: 0 5px 0 5px">{password}</th>
</tr>
<tr>
<th style="padding: 0 5px 0 5px">Порт 2</th>
<th style="padding: 0 5px 0 5px">{port_2}</th>
<th style="padding: 0 5px 0 5px">Логин устройства</th>
<th colspan="2" style="padding: 0 5px 0 5px">{username}</th>
</tr>
<tr>
<th style="padding: 0 5px 0 5px">Порт 3</th>
<th style="padding: 0 5px 0 5px">{port_3}</th>
<th style="padding: 0 5px 0 5px">Уникальное имя</th>
<th colspan="2" style="padding: 0 5px 0 5px">{name}</th>
</tr>
</table>
