<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="link-container">
        <a href="login/" target="_blank">login/</a>
        <div class="description">Страница авторизации</div>
    </div>
    <div class="link-container">
        <a href="logout/" target="_blank">logout/</a>
        <div class="description">Выход из аккаунта</div>
    </div>
    <div class="link-container">
        <a href="api/" target="_blank">api/</a>
        <div class="description">Основной префикс api</div>
    </div>

</body>
</html>